# Ignore virtual environment
../.venv/

# Ignore database
job_portal/instance/jobportal.db
__pycache__/
*.pyc

# Ignore user uploads
job_portal/static/resumes/
job_portal/static/profile_images/
uploads/
instance/

# Ignore system files
.DS_Store
Thumbs.db
