# Ignore virtual environment
.venv/
venv/
../.venv/     # Optional: only if you sometimes activate one level up

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Flask database and instance
instance/
*.db
*.sqlite3

# Ignore user-uploaded files
static/resumes/
static/profile_images/
uploads/

# Ignore local Flask environment file
.flaskenv

# Ignore system/IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

