# Ignore virtual environment
../.venv/
venv/
.venv/

# Ignore database
job_portal/instance/jobportal.db
instance/
__pycache__/
*.pyc

# Ignore user uploads
job_portal/static/resumes/
job_portal/static/profile_images/
uploads/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local Flask environment config
.flaskenv
